<div class="row">
	<div class="row">
		<div class="input-field col s8">
			<h3>MEAN Instruction:</h3>
			<h5></h5>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s8">
			<h3>Python Instruction:</h3>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s8">
			<h3>Ruby Instruction:</h3>
		</div>
	</div>	
	<div>
		<% if @mean_script %>
			<a href="<%= @mean_script %>">Download MEAN Script</a>
		<% end %>
	</div>

	<div>
		<% if @python_script %>
			<a href="<%= @python_script %>">Download Python Script</a>
		<% end %>
	</div>

	<div>
		<% if @ruby_script %>
			<a href="<%= @ruby_script %>">Download Ruby Script</a>
		<% end %>
	</div>


</div>