<% if @mean_angularjs_script or @mean_angular_script %>
<div class="download_buttons row">
	<% if @mean_angular_script %>
		<a href="<%= @mean_angular_script %>"><button class="btn waves-effect waves-light green darken-4 download_btn">Download MEAN (Angular) Script</button></a>
	<% end %>

	<% if @mean_angularjs_script %>
		<a href="<%= @mean_angularjs_script %>"><button class="btn waves-effect waves-light green darken-4 download_btn">Download MEAN (AngularJS) Script</button></a>
	<% end %>
</div>
<% end %>

<% if @python_django_script or @ruby_on_rails_script %>
<div class="download_buttons row">
	<% if @python_django_script %>
		<a href="<%= @python_django_script %>"><button class="btn waves-effect waves-light green darken-4 download_btn">Download Python Django Script</button></a>
	<% end %>

	<% if @ruby_on_rails_script %>
		<a href="<%= @ruby_on_rails_script %>"><button class="btn waves-effect waves-light green darken-4 download_btn">Download Ruby on Rails Script</button></a>
	<% end %>
</div>
<% end %>

<div class="row">
	<div class="row">
		<div class="input-field col s12 m12 l12">
			<h5>Deployment Script Instructions:</h5>
			<ol>
				<li>SSH into AWS server.</li>
				<li>Create a new script.sh file with following:
					<ul>
						<li><code>sudo vim script.sh</code></li>
						<li>Press "i" to insert input.</li>
						<li>Copy complete content from downloaded MEAN Angular, MEAN AngularJS, Python Django, or Ruby on Rails script and paste into VIM script.sh file.</li>
						<li>Press "Esc, :x, Enter" to save content and exit VIM.</li>
					</ul>
				</li>
				<li>Modify script.sh to be executable:
					<ul>
						<li><code>sudo chmod +x script.sh</code></li>
					</ul>
				</li>
				<li>Run script.sh:
					<ul>
						<li><code>./script.sh</code></li>
					</ul>
				</li>
				<li>Confirm successful deployment for:
					<ul>
						<li><span class="stack_name_width">MEAN:</span> Status "online" for mongod and server within PM2.</li>
						<li><span class="stack_name_width">Python:</span> <div class="python_statuses"> nginx: the configuration file /etc/nginx/nginx.conf syntax is ok
							<br>nginx: configuration file /etc/nginx/nginx.conf test is successful</div>
						</li>
						<li><span class="stack_name_width">Ruby:</span> 2 [ OK ] statuses for stopping/starting Nginx Server.</li>
					</ul>
				</li>
				<li>Turbo deployed project!</li>
			</ol>
		</div>
	</div>
</div>
