<div id="download_buttons" class="row">
	<% if @mean_script %>
		<a href="<%= @mean_script %>"><button class="btn waves-effect waves-light green darken-4">Download MEAN Script</button></a>
	<% end %>

	<% if @python_script %>
		<a href="<%= @python_script %>"><button class="btn waves-effect waves-light green darken-4">Download Python Script</button></a>
	<% end %>

	<% if @ruby_script %>
		<a href="<%= @ruby_script %>"><button class="btn waves-effect waves-light green darken-4">Download Ruby Script</button></a>
	<% end %>
</div>

<div class="row">
	<div class="row">
		<div class="input-field col s12 m12 l12">
			<h5>Deployment Script Instructions:</h5>
			<ol>
				<li>SSH into AWS server.</li>
				<li>Create a new script.sh file with following:
					<ul>
						<li>sudo vim script.sh</li>
						<li>Press "i" to insert input.</li>
						<li>Copy complete content from your downloaded MEAN, Python, or Ruby script and paste into VIM script.sh file.</li>
						<li>Press "Esc, :x, Enter" to save content and exit VIM.</li>
					</ul>
				</li>
				<li>Modify script.sh to be executable:
					<ul>
						<li>sudo chmod +x script.sh</li>
					</ul>
				</li>
				<li>Run script.sh:
					<ul>
						<li>./script.sh</li>
					</ul>
				</li>
				<li>Confirm successful deployment for:
					<ul>
						<li><span class="stack_name_width">MEAN:</span> Status "online" for mongod and server within PM2.</li>
						<li><span class="stack_name_width">Python:</span> <div class="python_statuses"> nginx: the configuration file /etc/nginx/nginx.conf syntax is ok
							<br>nginx: configuration file /etc/nginx/nginx.conf test is successful</div>
						</li>
						<li><span class="stack_name_width">Ruby:</span> 2 [ OK ] statuses for stopping/starting Nginx Server.</li>
					</ul>
				</li>
				<li>Turbo deployed project!</li>
			</ol>
		</div>
	</div>
</div>
