<% if @admin_ids.include? @current_user.id %>
| <a href="admins/<%= @current_user.id %>">Admin Dashboard</a>
<% end %>

<h3>Hi <%= @current_user.first_name %></h3>

<p>Select deployment script to generate</p>
<form class="" action="/scripts/gen" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="row">
    <div class="input-field col s8">
      <select name="script[stack]">
        <option>Python</option>
        <option>MEAN</option>
        <option>Ruby</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8">
      <label for="proj_dir">Project Directory Name:</label>
      <input id="proj_dir" type="text" name="script[project_directory]">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8">
      <label for="github_repo">GitHub Repo URL:</label>
      <input id="github_repo" type="text" name="script[github_repo]">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8">
      <label for="server_ip">AWS Server IP address:</label>
      <input id="server_ip" type="text" name="script[server_ip]">
    </div>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Generate Script
    <i class="material-icons right">send</i>
  </button>
</form>
