<h4>Hi <%= @current_user.first_name %>!</h4>

<p>Select deployment script to generate...</p>
<form class="" action="/scripts/gen" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="row">
    <div class="input-field col s8">
      <select name="script[stack]" id="stack">
        <option value="mean_angular">MEAN (Angular)</option>
        <option value="mean_angularjs">MEAN (AngularJS)</option>
        <option value="python_django">Python Django</option>
        <option value="ruby_on_rails">Ruby on Rails</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8">
      <label for="proj_dir">Project Directory Name:</label>
      <input id="proj_dir" type="text" name="script[project_directory]">
    </div>
  </div>

  <div class="row" id="app-field">
    <div class="input-field col s8">
      <label for="main_app">Main App Name (directory containing wsgi.py):</label>
      <input id="main_app" type="text" name="script[app_directory]">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8">
      <label for="github_repo">GitHub Repo URL:</label>
      <input id="github_repo" type="text" name="script[github_repo]">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8">
      <label for="server_ip">AWS Server IP Address:</label>
      <input id="server_ip" type="text" name="script[server_ip]">
    </div>
  </div>

  <% if @current_user.access == "t" %>
    <button class="btn waves-effect waves-light green darken-4" type="submit" name="action">Generate Script
      <i class="material-icons right">send</i>
    </button>
  <% else %>
    <a class="btn disabled green darken-4">Generate Script</a>
    <p>(Request access from your instructor)</p>
  <% end %>

</form>
