<div class="row">
	<h4>About</h4>
	<p>Turbo Deployments aims to simplify the deloyment process for Coding Dojo students in the following stacks: Python with Django, MEAN, and Ruby On Rails. By generating a script file, Turbo Deployments significantly decreases deployment time and guarantees a succesful launch every time.</p>
</div>

<div class="row">
	<p class="bold">Technologies:</p>
	<div>
		<img src="assets/CSS.png" class="tech-icon">
		<img src="assets/HTML.png" class="tech-icon">
		<img src="assets/JavaScript.png" class="tech-icon">
		<img src="assets/materialize.png" class="tech-icon">
		<img src="assets/RUBY.png" class="tech-icon">
		<img src="assets/rails.jpg" id="rails-icon">
	</div>
</div>
<h4>Meet the Team</h4>
<p id="team-des">We are a diverse team of Coding Dojo Dallas students.</p>

<div class="row center-align">
<!-- MD RAHAMAN -->
	<div class="profile col s12 m3 l3">
		<%= image_tag('md.jpg', {class: 'team-pic'}) %>
		<div class = "row member-info">
				<h5>Md Rahaman</h5>
				<p>Md has an electrical engineering background and decided to study at Coding Dojo to become a fullstack developer. He loves to play cricket and his favorite team is Bangladesh.</p>
		</div>
		<div class="contact-div" style="margin-top:3%;">
			<p> soikatesc@gmail.com</p>
						<!-- Icons -->
			<div id = icons>
				<ul>
				    <li><a href="https://github.com/soikatesc" class="fa fa-github" target = "_blank"></a></li>
				    <li><a href="https://www.linkedin.com/in/md-rahaman-750870105/" class="fa fa-linkedin" target = "_blank"></a></li>
			    </ul>
		    </div>
	    </div>
	</div>
	<!-- ANDY LI -->
	<div class="profile col s12 m3 l3">
		<%= image_tag('andy.jpg', {class: 'team-pic'}) %>
		<div class = "row member-info">
				<h5 class="center">Andy Li</h5>
				<p>Andy has a BS in electrical engineering and applied math. He loves problem solving and his favorite language is Python. In his spare time, Andy participates in endurance events and other outdoor activities.</p>
		</div>
		<div style="margin-top:2%;">
			<p>iandyli@gmail.com</p>
			<!-- Icons -->
			<div id = icons>
				<ul>
				     <li><a href="https://github.com/iliandy" class="fa fa-github" target = "_blank"></a></li>
					 <li><a href="https://www.linkedin.com/in/andy-li-104577144/" class="fa fa-linkedin" target = "_blank"></a></li>
			    </ul>
		    </div>
	    </div>	
	</div>
	<!-- PATSY -->
	<div class="col s12 m3 l3">
		<%= image_tag('patsy.jpg', {class: 'team-pic'}) %>
		<div class = "row member-info">
			<h5>Patsy Pineda</h5>
			<p>Patsy majored in English, but her enthusiasm for figuring out how things work made her discover the world of coding. When she is not studying at the Dojo, she is playing at the park with her dog.</p>
		</div>
		<div style="margin-top:0.5%;">
			<p> patsyp014@gmail.com</p>
			<!-- Icons -->
			<div id = icons>
				<ul>
				    <li><a href="https://github.com/patsyp" class="fa fa-github" target = "_blank"></a></li>
					<li><a href="https://www.linkedin.com/in/patsy-pineda-555837a5/" class="fa fa-linkedin" target = "_blank"></a></li>
			    </ul>
		    </div>
	    </div>	
	</div>
</div>
