
	<h3> About</h3>
	<p>Turbo Deployments aims to simplify the deloyment process for Coding Dojo students in the following stacks: Python, Mean, and Ruby On Rails.  By generating a script file, Turbo Deployments significantly decreases deployment time and guarantees a succesful lanch every time.</p>
	<p>Techonologies:</p>
	<div>
		<img src="assets/CSS.png" class="tech-icon">
		<img src="assets/HTML.png" class="tech-icon">
		<img src="assets/JavaScript.png" class="tech-icon">
		<img src="assets/materialize.png" class="tech-icon">
		<img src="assets/RUBY.png" class="tech-icon">
	</div>

</div>
<div class ="container">
<h3 >Meet the Team</h3>
<h5 id="team-des">We are a diverse team of Coding Dojo students in Dallas.</h5>
<!-- MD RAHAMAN -->
<div class="row" id="member-container">
	<div class="profile-container col s3">
		<%= image_tag('md.jpg', {class: 'team-pic'}) %>
		<div class = "member-info">
			<h5>Md Rahaman</h5>
			<p>Md has an electrical engineering background and decided to study at Coding Dojo to become a fullstack developer. He loves to play cricket and his favorite team is Bangladesh.</p>
		</div>
		<div class="contact-info">
			<p> soikatesc@gmail.com</p>
				<!-- Icons -->
			<div id = icons>
				<ul>
				    <li><a href="https://github.com/soikatesc" class="fa fa-github" target = "_blank"></a></li>
				    <li><a href="https://www.linkedin.com/in/md-rahaman-750870105/" class="fa fa-linkedin" target = "_blank"></a></li>
			    </ul>
		    </div> 
	    </div>
	</div>
	<!-- ANDY LI -->
	<div class="profile-container col s3">
		<%= image_tag('andy.jpg', {class: 'team-pic'}) %>
		<div class = "member-info">
			<h5>Andy Li</h5>
			<p>Andy has a BS in electrical engineering and applied math. He loves problem solving and his favorite language is python.  On his spare time, Andy participates in marathons and other outdoor activities.</p>
		</div>
		<div class="contact-info">
			<p> iandyli@gmail.com</p>
			<!-- Icons -->
			<div id = icons>
				<ul>
				    <li><a href="https://github.com/iliandy" class="fa fa-github" target = "_blank"></a></li>
				    <li><a href="https://www.linkedin.com/in/andy-li-104577144/" class="fa fa-linkedin" target = "_blank"></a></li>
			    </ul>
		    </div> 
	    </div>
	</div>
	<!-- PATSY -->
	<div class="profile-container col s3" >
		<%= image_tag('patsy.jpg', {class: 'team-pic'}) %>
		<div class = "member-info">
			<h5>Patsy Pineda</h5>
			<p>Patsy majored in English, but her enthusiasm for figuring out how things work made her discover the world of coding.  When she is not studying at the Dojo, she is playing at the park with her dog.</p>
		</div> 
		<div class="contact-info"> 
		<p> patsyp014@gmail.com</p> 
			<!-- Icons -->
			<div id = icons>
				<ul>
				    <li><a href="https://github.com/patsyp" class="fa fa-github" target = "_blank"></a></li>
				    <li><a href="https://www.linkedin.com/in/patsy-pineda-555837a5/" class="fa fa-linkedin" target = "_blank"></a></li>
			    </ul>
		    </div>
	    </div> 
	</div>
</div>

