<h2>Welcome!</h2>
<!-- user login -->
<h3>Login</h3>
<form action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="row">
    <div class="input-field col s4">
      <label for="login_email">E-mail: </label>
      <input id="login_email" type="text" name="login[email]">
    </div>

    <div class="input-field col s4">
      <label for="login_pass">Password: </label>
      <input id="login_pass" type="password" name="login[password]">
    </div>
  </div>

  <button class="btn waves-effect waves-light green darken-4" type="submit" name="action">Login User
    <i class="material-icons right">send</i>
  </button>
</form>

<!-- user registration -->
<h3>Register</h3>
<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="row">
    <div class="input-field col s4">
      <label for="first_name">First Name: </label>
      <input id="first_name" type="text" name="user[first_name]">
    </div>
    <div class="input-field col s4">
      <label for="last_name">Last Name: </label>
      <input id="last_name" type="text" name="user[last_name]">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
      <label for="email">E-mail: </label>
      <input id="email" type="text" name="user[email]">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <label for="password">Password: </label>
      <input id="password" type="password" name="user[password]">
    </div>
    <div class="input-field col s4">
      <label for="password_conf">Password Confirmation: </label>
      <input id="password_conf" type="password" name="user[password_confirmation]">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
      <select name="user[dojo]">
      <% @dojos.each do |dojo| %>
        <option value="<%= dojo.id %>"><%= dojo.name %></option>
      <% end %>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8">
     <input type="checkbox" id="incs" >
      <label for="incs">Instructor</label>
    </div>
  </div>
  <div class="row" style="display:none;" id="ins-div">
      <div class="input-field col s8">
        <input type="password" name="secret_key[password]" placeholder="Admin Password">
      </div>
  </div>

  <button class="btn waves-effect waves-light green darken-4" type="submit" name="action">Register User
    <i class="material-icons right">send</i>
  </button>
</form>

