<% if @admin_ids.include? @current_user.id %>
| <a href="admins/<%= @current_user.id %>">Admin Dashboard</a>
<% end %>

<h3>Hi <%= @current_user.first_name %></h3>

<p>Select deployment script to generate</p>
<form class="" action="index.html" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="row">
    <div class="input-field col s8">
      <select name="stack">
        <option>Python</option>
        <option>MEAN</option>
        <option>Ruby</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8">
      <label>Project Directory Name: </label>
      <input type="text" name="proj_dir">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8">
      <label>GitHub Repo URL: </label>
      <input type="text" name="github_repo_url">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8">
      <label>AWS Server IP address: </label>
      <input type="password" name="server_ip">
    </div>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Generate Script
    <i class="material-icons right">send</i>
  </button>
</form>
