
.download_buttons{
	margin-top: 2%;
}
.download_btn{
	width: 28%;
}
#logo{
	margin-left: 2%;
	font-size: 2rem;
}
#footer{
	margin-top: 5%;
}
.team-pic{
	width: 65%;
	border-radius: 100%;
}
.tech-icon{
	width: 4rem;
}
.black_border{
	border: 5px solid #000000;
	border-radius: 50%;
}
#team-des{
	margin-bottom: 5%;
}
.profile{
	margin-right: 10.5%;
}
form{
	margin-bottom: 5%;
}
.bold{
	font-weight: bold;
}
#rails-icon{
	width: 4.3rem;
}
.stack_name_width{
	display: inline-block;
	font-weight: bold;
	width: 55px;
	vertical-align: top;
}
.python_statuses{
	display: inline-block;
}
.contact-div{
	margin-top: 10px;
}
.contact-icon{
	font-size: 2rem;
	margin: 5% 5% 0 5%;
}
.contact-div a{
	color: #007bb6;
}
.select-dropdown li span {
  color: #1B5E20;
}
#app-field{
	display: none;
}
code{
	color: #ffffff;
	background: #000000;
}
