/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#download_buttons{
	margin-top: 2%;
}
#logo{
	margin-left: 2%;
	font-size: 2rem;
}
#footer{
	margin-top: 5%;
}
.team-pic{
	width: 65%;
	border-radius: 100%;
}
.tech-icon{
	width: 4rem;
}
.profile-container{
	text-align: center;
	margin-right: 5%;
	margin-top: 5%;
}
form{
	margin-bottom: 5%;
}
.bold{
	font-weight: bold;
}
#rails-icon{
	width: 4.3rem;
}
.stack_name_width{
	display: inline-block;
	font-weight: bold;
	width: 55px;
	vertical-align: top;
}
.python_statuses{
	display: inline-block;
}
